<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rhine.mybatis.demo.UserMapper">
    <select id="queryUser" resultType="org.rhine.mybatis.demo.User" flushCache="true">
      select * from user where id = #{id}
    </select>
    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

    <!-- 开启二级缓存 -->
    <cache readOnly="true"/>
</mapper>